*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin-top: 64px;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
}



/* login page and other page height */ 
.fullPage {
  min-height: calc(100vh - 64px);
}





/* Footer */
.footer{
  margin-top: auto;
  background-color: #fff;
  box-shadow: 0px -3px 15px rgba(206, 205, 205, 0.555);
}
.footer *{
  color: rgb(107, 114, 128);
}